SPRING_DATASOURCE_URL=jdbc:postgresql://localhost:5432/taskify
SPRING_DATASOURCE_USERNAME=taskify
SPRING_DATASOURCE_PASSWORD=taskify
SPRING_JPA_HIBERNATE_DDL_AUTO=validate
SPRING_JWT_SECRET=change-me
SERVER_PORT=8080
SPRING_PROFILES_ACTIVE=local
TASKIFY_DB_SCHEMA=public
TASKIFY_DB_POOL_MAX_SIZE=10
TASKIFY_DB_POOL_MIN_IDLE=2
TASKIFY_DB_POOL_MAX_LIFETIME=PT30M

POSTGRES_DB=taskify
POSTGRES_USER=taskify
POSTGRES_PASSWORD=taskify
PGADMIN_DEFAULT_EMAIL=admin@example.com
PGADMIN_DEFAULT_PASSWORD=admin123
